<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.InlineFormsTestWebsite" description="InlineFormsTestWebsite definition items" dependencies="Foundation.Serialization">
          <targetDataStore physicalRootPath="$(SourceFolderInlineForms)\src\Project\TestWebsite\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="SmartSitecore.Project.InlineForms.TestWebsite.Renderings" database="master" path="/sitecore/layout/Renderings/Project/InlineFormsTestWebsite" />
            <include name="SmartSitecore.Project.InlineForms.TestWebsite.Layouts" database="master" path="/sitecore/layout/Layouts/Project/InlineFormsTestWebsite" />
            <include name="SmartSitecore.Project.InlineForms.TestWebsite.Content" database="master" path="/sitecore/content/Home/InlineForms" />
            <include name="SmartSitecore.Project.InlineForms.TestWebsite.Forms" database="master" path="/sitecore/Forms/Contact Form" />
            <include name="SmartSitecore.Project.InlineForms.TestWebsite.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Contact Form Sent" />
          </predicate>
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>