<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <services>
      <register serviceType="SmartSitecore.Foundation.InlineFormsRichText.Services.IProvideForms, SmartSitecore.Foundation.InlineFormsRichText"
                implementationType="SmartSitecore.Foundation.InlineFormsRichText.Services.FormsItemService, SmartSitecore.Foundation.InlineFormsRichText" />
    </services>
    <settings>
      <!-- Path to forms root item -->
      <setting name="InlineForms.FormsParentPath" value="/sitecore/Forms" />
      <!-- Form container used in RTE to improve form tag display -->
      <setting name="InlineForms.FormContainerTag" value="div" />
    </settings>
    <clientscripts>
      <htmleditor>
        <script src="/scripts/Foundation/InlineFormsRichText/InsertFormRTE.js" language="javascript" key="insertForm"></script>
      </htmleditor>
    </clientscripts>
    <pipelines>
      <loadRichTextContent>
        <processor type="SmartSitecore.Foundation.InlineFormsRichText.Pipelines.Processors.LoadRichTextContent.AddFormsHelperProcessor, SmartSitecore.Foundation.InlineFormsRichText" resolve="true"/>
      </loadRichTextContent>
      <saveRichTextContent>
        <processor type="SmartSitecore.Foundation.InlineFormsRichText.Pipelines.Processors.SaveRichTextContent.RemoveFormsHelperProcessor, SmartSitecore.Foundation.InlineFormsRichText" resolve="true"/>
      </saveRichTextContent>
      <forms.formDetails>
        <processor type="SmartSitecore.Foundation.InlineFormsRichText.Pipelines.Processors.FormDetails.CollectFormTagsUsageProcessor, SmartSitecore.Foundation.InlineFormsRichText"
                   patch:after="*[@type='Sitecore.ExperienceForms.Client.Pipelines.FormDetails.CollectFormUsage, Sitecore.ExperienceForms.Client']" />
      </forms.formDetails>
    </pipelines>
    <LinkDatabase>
      <patch:attribute name="type">SmartSitecore.Foundation.InlineFormsRichText.Links.FormTagsSqlServerLinkDatabase, SmartSitecore.Foundation.InlineFormsRichText</patch:attribute>
    </LinkDatabase>
  </sitecore>
</configuration>